## Configuration file for 'porkbun-api.sh'
## Anything in this file will be executed by bash when the main script is run, this file should be given the same permissions as the parent script.
## Valid configuration variables are listed below with their default values, uncomment/change them as needed.
#
## Required variables
DOMAIN='' ## The domain name for the script to act on; Can be overridden by flag '-d <domain>'
APIKEY='' ## Porkbun API Key
SECRETKEY='' ## Porkbun API Secret Key
#SSL_FOLDER="/ssl/$DOMAIN" ## The folder to output SSL certs to for the 'retrieve-ssl' command. Only required if using the aforementioned command.
#
## Logging Variables; By default, any messages with priority at or below VERBOSITY are output to both stdout and file LOGFILE.
## Setting SILENT to 'true' disables output to stdout. Unsetting LOGFILE or setting it to an empty string disables output to a log file.
#VERBOSITY=6 ## Max verbosity of script's messages to output and log, valid values are 0-7; Default is 5; 0 only outputs on fatal errors; 3 outputs on warnings; 4 outputs when changes are made; 5 outputs when no changes are needed; 6 outputs a message stating what the script will do this run; 7 walks through all the steps the script takes (debug mode)
#LOGFILE='/tmp/porkbun-api.log' ## File to output log messages to; Default is '/tmp/porkbun-api.log'
#SILENT=false ## Disables output to STDOUT if set to 'true'
#
## Optional variables
#A_RECORD_NUM=0 ## Which DNS A record to update with 'update-dns' command. This should not be changed unless the domain you are updating has multiple A records. The A record with the oldest creation date (which has the lowest porkbun "id") is 0.
#IP_VERSION='' ## The IP version for curl to use when making API calls. If using command 'update-dns' this will be overridden to '-4'.

